<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <style>
        form {
            text-align:center;
            padding: 1em;
        }
       
        table {
            text-align: center;
            padding: 1em;
        }
    </style>
</head>
<body>
    <form action="http://localhost:8080/account/login_action" method="post">
        <table>
            <tr>ip地址:&nbsp;<input name="addr_ip" type="text" value="127.0.0.2"></tr><br>
            <tr>密码:&nbsp;<input name="password" type="text" value="password"></tr>
        </table>
        <input type="submit" value="登录"></input>
    </form>
</body>
</html>